<!-- HTML del Navbar corregido -->
<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#s1">| ¿Quién soy? |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s2">| Mis estudios |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s3">| Pasatiempos |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s4">| Mis proyectos |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">| Contactame |</a>
        </li>
      </ul>
    </div>
  </div>
</nav>