#home h1 {
    padding: 30px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    letter-spacing: 20px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

#home i {
    font-size: 35px;
    color: black;
    transition: 1s;
}

#home i:hover {
    font-size: 55px;
}

#home nav div{
    background-color: black;
}

#home nav a{
    color: white;
    transition: 0.5s;
}

#home nav a:hover{
    padding: 20px;
    color: black;
    background-color: white;
}

#home #cardImgText{
    display: grid;
    grid-template-columns: 60% 35%;
}

#home #cardImgText img{
    margin: 50px;
    background-color: black;
    text-align: center;
    height: 450px;
}

#home #cardImgText .carousel-control-prev-icon{
    background-color: black;
    height: 50px;
}

#home #cardImgText .carousel-control-next-icon{
    background-color: black;
    height: 50px;
}

#s1 #text{
    letter-spacing: 2px;
    padding: 40px;
    align-self: center;
    font-size: 20px;
}

/* Estilo general de la tabla */



#tablaEstudio {
    display: flex;
    justify-content: center;
}

#tablaEstudio table{
    width: 60%;
}


/* Encabezado */
#s2 #tablaEstudio thead {
    background-color: #222; /* gris oscuro */
    text-transform: uppercase;
    letter-spacing: 1px;
}

#s2 #tablaEstudio thead th {
    padding: 12px;
    text-align: center;
}

/* Celdas */
#s2 #tablaEstudio td {
    padding: 20px;
    text-align: center;
}

.cards-container {
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center; /* centra todo horizontalmente */
    align-items: flex-start; /* alinea arriba */
    gap: 20px; /* espacio entre las cards */
    padding: 20px;
}

.cards-container img{
    background-color: black;
}








